.component {
  height: 300px;
  width: 300px;
  color: red;
  border: 1px solid red;
  text-align: center;
  line-height: 100px;

  .imgdiv {
    height: 100px;
    width: 200px;
    background: url(../../assets/svg/webpack-logo.svg) no-repeat center;
    transform: translate(80px, 100px);
  }

  .notrans {
    height: 100px;
    width: 200px;
    background: url(../../assets/svg/webpack-logo.svg) no-repeat center;
    transform: translate(10px);
  }
}
